$banner-height: 750px;
$banner-background: #8D8D8D;
$banner-color: #fff;
	
	$banner__col-md-12-letter-spacing: 0px;
	$banner__col-md-12__h6-font-weight: bold;
	$banner__col-md-12__h6-font-size: 28px;
		$banner__col-md-12__h6__first-child-margin: 212px 0 -4px 2px;
		$banner__col-md-12__h6__last-child-margin-bottom: 47px;
	
	$banner__col-md-12__p-text-transform: uppercase;
	$banner__col-md-12__p-font-weight: bold;
		$banner__col-md-12__p-first-child-font-size: 48px;
		$banner__col-md-12__p-first-child-margin-bottom: -0.5px;
		$banner__col-md-12__p-last-child-font-size: 14px;

